*, :after, :before {
    box-sizing: border-box;
}

body{
    background-color: #454545;
    font-size: 20px;
}

.thef2e{
    font-size: 7.2rem;
    font-weight: 600;
    -webkit-text-stroke: 4px #D5F70A;
    color: #454545;
}